<%- include('includes/header') %>

<div class="container">
  <div class="mt-4">
    <h1>My Dashboard</h1>
    <a class="btn btn-success mb-4" href="/create-post">Create New Post</a>
    <h2>My Posts</h2>
    <% if (posts.length > 0) { %>
      <ul class="list-group">
        <% posts.forEach(post => { %>
          <li class="list-group-item">
            <a href="/post/<%= post.id %>"><%= post.title %></a>
            <span class="text-muted">- <%= new Date(post.createdDate).toLocaleDateString() %></span>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>You have no posts yet.</p>
    <% } %>
  </div>
</div>

<%- include('includes/footer') %>